<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculate Hypotenous</title>
</head>
<body>
    <h1>Calculate Triangle Hypotenous</h1>
    <form action="analyze" method="grt">
        <div class="container1">
        Enter Length:<input type="text" class="text" name="length">
    
        Enter Base:<input type="text" class="text1" name="base">
        <button type="submit" class="submit"  name="SUBMIT">Submit</button>
    </div>
</form>
</body>
</html>